.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav-close,
.nav-toggle {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    padding: 7rem 1.5rem 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .nav-link {
    color: var(--white-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .nav-close {
    color: var(--white-color);
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
  }

  .nav-social {
    display: flex;
    column-gap: 0.5rem;
    align-self: flex-end;
  }

  .nav-social-link {
    color: var(--white-color);
    font-size: 1.5rem;
  }

  .show-menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    padding: 7rem 1.5rem 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
  }
}
